{% extends 'base.html' %}



{% block content %}


<h1 class="text-center">Signup</h1>

<body>
<div class="mx-auto w-50 bg-success text-center text-white p-3 my-3 border border-warning rounded">
<form action="register" method="POST">

  {% csrf_token %}
  <input type="text" name="username" placeholder="username"><br>
  <br>
  <input type="text" name="first_name" placeholder="firstname"><br>
  <br>
  <input type="text" name="last_name" placeholder="lastname"><br>
  <br>
  <input type="email" name="email" placeholder="email"><br>
  <br>
  <input type="password" name="password1" placeholder="password"><br>
  <br>
  <input type="password" name="password2" placeholder="password"><br>
  <br>
  <input type="submit"  value="registration">

<div>
{% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}

{% endblock %}